<div class="container d-flex justify-content-between tamanho">


    <div class="card" style="width: 18rem;">
        <img src="../../assets/cafe.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Café Torrado E Moído Vácuo Caboclo 500g</h5>
          <p class="card-text">preço: R$ 15,75</p>
            <a href="#" class="btn btn-primary container-fluid" (click)="comprar()">comprar</a>
        </div>
    </div>


    <div class="card" style="width: 18rem;">
        <img src="../../assets/shopping.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Arroz Agulhinha Tipo 1 QUALITÁ Pacote 5Kg</h5>
          <p class="card-text">preço : R$ 24,99</p>
            <a href="#" class="btn btn-primary container-fluid"  (click)="comprar()">Comprar</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="../../assets/coca.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Coca-Cola 2,5L Original - Garrafa Pet</h5>
        <p class="card-text">preço : R$ 9,99</p>
          <a href="#" class="btn btn-primary container-fluid"  (click)="comprar()">Comprar</a>
      </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="../../assets/chocolate.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Chocolate ao leite marca nestle 1kg</h5>
      <p class="card-text">preço : R$ 39,90</p>
        <a href="#" class="btn btn-primary container-fluid"  (click)="comprar()">Comprar</a>
    </div>
</div>

</div>

